<!-- Compiled and minified JavaScript -->
<footer class="page-footer">
    <div class="container right">
        <div class="row" style="margin-bottom: 0;">
            <div class="col l4 s12 right">
                <h6 class="white-text">Developed by: Archit Choudhary</h6>
                <ul class="socialLinks">
                    <li><a rel="noreferrer noopener" target="_blank" class="grey-text text-lighten-3 col" href="https://twitter.com/architc_"><i class="fa-brands fa-twitter"></i></a></li>
                    <li><a rel="noreferrer noopener" target="_blank" class="grey-text text-lighten-3 col" href="https://github.com/archit-io"><i class="fa-brands fa-github"></i></a></li>
                    <li><a rel="noreferrer noopener" target="_blank" class="grey-text text-lighten-3 col" href="https://www.linkedin.com/in/architchoudhary/" target="_blank"><i class="fa-brands fa-linkedin"></i></a></li>
                </ul>
            </div>
        </div>
    </div>    
</footer>

<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/js/materialize.min.js"></script>
<script src="/js/main.js"></script>
</body>

</html>