<%- include("partials/header.ejs") %>
    <!-- Story Form -->
    <div class="container">
        <a href="/api/stories" class="backButton"><i class="fa-solid fa-arrow-left"></i>  </a>
        <div class="row section">
            <form class="col s12" enctype="multipart/form-data" action="/api/stories/add" method="POST" id="storyForm" name="form">
                <h3 class="center-align">Write a New Story</h2>
                    <!-- Story Rating -->
                    <div class="highlight">
                        <label for="rating"> What kind of spooky experience did you have?</label>
                        <p>
                            <label>
                    <input name="rating" type="radio" id="amazing" value ="amazing" class="validate" required="true" aria-required="true"/>
                    <span><i class="material-icons skyBlue">sentiment_very_satisfied
                    </i>  It was an illusion</span>
                    </label>
                        </p>
                        <p>
                            <label>
                        <input name="rating" type="radio" id="nice" value ="nice" />
                        <span><i class="material-icons lightGreen">sentiment_satisfied
                        </i> The ghost was friendly</span>
                        </label>
                        </p>
                        <p>
                            <label>
                        <input name="rating" type="radio" id="neutral" value ="neutral" />
                        <span><i class="material-icons neutral-yellow">sentiment_neutral
                        </i>  A bit scary</span>
                        </label>
                        </p>
                        <p>
                            <label>
                        <input name="rating" type="radio" id="stress" value ="stress" />
                        <span><i class="material-icons stress-orange">sentiment_dissatisfied
                        </i>  I was scared shitless</span>
                        </label>
                        </p>
                        <p>
                            <label>
                        <input name="rating" type="radio" id="nightmare" value ="nightmare" />
                        <span><i class="material-icons scarry-red">sentiment_very_dissatisfied
                        </i>  I made a run for life</span>
                        </label>
                        </p>
                    </div>

                    <!-- Friend's Story -->
                    <div class="friends-label highlight">
                        <label>
                            <input type="checkbox" class="filled-in" name="friends" id="friends" value="true" />
                            <span class="">Was this your friend's experience?</span>
                          </label>
                    </div>

                    <!-- Story Description -->
                    <div class="highlight">
                        <label for="story">What is your story?</label>
                        <div class="input-field ">
                            <i class="material-icons prefix">subject
                        </i>
                            <textarea id="story" class="materialize-textarea validate" name="story" required placeholder="I experienced that..."></textarea>
                            </div>
                        </div>
                    </div>

                    <!-- Story Date -->
                    <div class="highlight">
                        <label for="date">When did you experience it?</label>
                        <div class="input-field row validate">
                            <i class="material-icons prefix">today</i>
                            <input type="text" class="datepicker validate" name="date" id="date" required="true" aria-required="true">
                        </div>
                    </div>


                    <!-- Story Title -->
                    <div class="highlight">
                        <label for="title">Story Title</label>
                        <div class="input-field row">
                            <i class="material-icons prefix">title</i>
                            <input type="text" placeholder="" class="validate" id="title" name="title">
                        </div>
                    </div>

                    <!-- Image Uploader -->
                    <div class="highlight">
                        <label for="imageUpload" class="form-label">Would you like to upload a photo for this story?</label>                        
                        <div class="input-field">
                            <input class="custom-file-upload" type="file" id="imageUpload" name="file">
                        </div>
                    </div>

                    <!-- Friend's Story -->
                    <div class="friends-label highlight">
                        <label>
                            <input type="checkbox" class="filled-in" name="public" id="public" value="true" />
                            <span class="">Would you like make this story public? Public stories are visible to everyone</span>
                            
                          </label>
                    </div>

                    <!-- Submit Button -->
                    <button class="btn waves-effect waves-light waves-lightBlue input-field  col" type="submit">Submit
                    <i class="material-icons right">cloud_upload</i>
                  </button>
            </form>
        </div>
    </div>
    <%- include("partials/footer.ejs") %>